*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so
*~
.DS_Store
/aclocal.m4
/autom4te.cache
/autoscan.log
/build
/build-aux/
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
Makefile.in
